
body {
  background: url('./background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

div {
  color: rgb(255, 85, 85);
}

.App-container {
  max-width: 625px;
  margin: 0 auto;
  padding: 64px;
}

.App-vibeBox {
  border: 3px solid rgb(255, 226, 99);
  border-radius: 24px;
  background-color: rgba(255, 196, 196, 0.9);

  padding: 16px 32px;
  text-align: center;
}

.App-title {
  margin: 8px 0px 24px;
  font-weight: bold;
  font-size: 40px;
}

/**Classes for Inputs**/

.App-fieldContainer {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 32px;

}

.App-fields {
  font-size: 24px;
  font-weight: 500;
}

.App-inputContainer {
  display: flex;
  justify-content: space-between;
  width: 350px;

}

input {
  border-radius: 8px;
  border: 1px solid rgb(255, 226, 99);
  ;
  height: 28px;
  padding: 0;
  padding-left: 8px;
}

input:focus {
  outline: none;
}

.App-nameContainer {
  position:relative;
  text-align: center;
}

.App-name {
  width: 342px;
}

.App-nameSubmit {
  position: absolute;
  top: 0;
  right: 0;

  border: 1px solid rgb(255, 226, 99);
  height: 28px;
  width: 64px;

  background-color: rgb(255, 233, 133);
  border-radius: 0px 8px 8px 0px;
}

.App-nameSubmit:hover {
  background-color: rgb(255, 226, 99);
}
  
.App-displayGroups{
  text-align: left;
  margin-bottom: 24px;
}

.App-group {
  margin-bottom: 8px;
}

.App-single-group {
  /* width: 90%; */
  /* align-self: flex-start;
  display: flex;
  flex-direction: row; */
}

.App-group-leave {
  /* width: 10%; */
  align-self: flex-end;
  cursor: pointer;
  justify-self: flex-start;
}

.App-buttonContainer {
  height: 28px;
  position: relative;
  text-align: center;
}

.App-button {
  padding: 0px 4px;
  border-radius: 8px;
  height: 28px;
  background-color: rgb(255, 233, 133);


  position: absolute;
  right: 0;
  border: 1px solid  rgb(255, 226, 99);
}

.App-button:hover {
  background-color:  rgb(255, 226, 99);
}
/* 
.group-div {
  display: flex;
  flex-direction: column;
}

.group-name {
  text-align: left;
} */