
.App-container {
  max-width: 625px;
  margin: 0 auto;
  padding: 64px;
}

.App-title {
  margin: 8px 0px 24px;
  font-weight: bold;
  font-size: 40px;
}

.App-vibeBox {
  border: 3px solid black;
  border-radius: 24px;
  padding: 16px 32px;
  text-align: center;
}

.App-fieldContainer {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 32px;

}

.App-fields {
  font-size: 24px;
  font-weight: 500;
}

.App-inputContainer {
  display: flex;
  justify-content: space-between;
  width: 350px;

}

input {
  border-radius: 8px;
  border: 1px solid black;
  height: 28px;
  padding: 0;
}

input:focus {
  outline: none;
}


.App-name {
  width: 350px;
}

.App-displayGroups{
  text-align: left;
  margin-bottom: 24px;
}
